<div class="serif center-text butler-color" ><em>Got a share to spare?</em></div>

<section class="share typgr8-beta">  
  <a class="share__twitter unstyled-anchor" 
     href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
     onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
    <span class="fa-stack">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    <span hidden>Twitter</span>
  </a>
  
  <!-- <span class="meta-spacer"></span> -->
   
  <a class="share__facebook unstyled-anchor"
     href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
     onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
   <span class="fa-stack">
     <i class="fa fa-square-o fa-stack-2x"></i>
     <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
   </span>
    <span hidden>Facebook</span>
 </a>

  <!-- <span class="meta-spacer"></span> -->
   
  <a class="share__google-plus unstyled-anchor" 
     href="https://plus.google.com/share?url={{url absolute="true"}}"
     onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
    <span class="fa-stack">
     <i class="fa fa-square-o fa-stack-2x"></i>
     <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
    </span>
    <span hidden>Google+</span>
  </a>
  
  
</section>

